/*Add page number to the bottom right of the left and right pages */
@page :left {
  @bottom-right {
    content: counter(page);
  }
}
@page :right {
  @bottom-right {
    content: counter(page);
  }
}
@page :left {
  @top-left{
    content: "BUERKI S.";
    color: #444444;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
    font-size: 9pt;
  }
  @top-right{
    content: "Curriculum Vitae";
    color: #444444;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
    font-size: 9pt;
  }
}
@page :right {
  @top-left{
    content: "BUERKI S.";
    color: #444444;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
    font-size: 9pt;
  }
  @top-right{
    content: "Curriculum Vitae";
    color: #444444;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
    font-size: 9pt;
  }
}
